{% extends 'Curso/base.html' %}

{% block content %}
    <div class="contenido_preview">

                <div class="login">
                    <div class="login_encabezado">
                        <h2 class="texto">¿No Tienes Cuenta?</h2>
                        <h2 class="texto">¡Registrate!</h2>
                        </div>
                        <div class="login_form">
                    <form action="">
                        <input id="user-name" name="user-name" placeholder="Nombre" type="text">
                        <input id="user-name" name="user-name" placeholder="Apellido" type="text">
                        <input id="user-name" name="user-name" placeholder="Cedula" type="int">
                        <input id="user-name" name="user-name" placeholder="Celular" type="int">
                        <input id="user-name" name="user-name" placeholder="Correo Electronico" type="text">
                        <input id="password" name="password" placeholder="Contraseña" type="password">
                        <input id="password" name="password" placeholder="Repite Contraseña" type="password">
                    </form>
                </div>
                        <div class="myButton" style="margin: 2%;">Entrar</div>

                </div>
            </div>

{% endblock %}